<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.github.takahirom.animation_after_fragment_view_destory"
  >

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Animationafterfragmentviewdestory"
    >
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:theme="@style/Theme.Animationafterfragmentviewdestory.NoActionBar"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>